.searchValueDiv {
  width: -webkit-fill-available;
  height: fit-content;
  border: 1px solid black;
  margin-bottom: 8px;
}
.titleDiv {
  display: flex;
}
.eventDiv {
  display: flex;
}
#main {
  padding: 8px;
}
.eventsSvg {
  width: 100%;
}
.eventsSvgDiv {
  overflow: hidden;
}
