#main {
  border: 1px solid black;
}
#container {
  margin: 8px;
}
.hidden {
  opacity: 0;
}
.searchValueDiv {
  width: -webkit-fill-available;
}
.titleDiv {
  display: flex;
  height: 20px;
  background: linear-gradient(
    172deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(76, 76, 128, 0.8468429608171394) 26%,
    rgb(190, 208, 212) 100%
  );
  color: white;
  font-size: 0.8em;
  text-transform: uppercase;
}
.eventDiv {
  display: flex;
}
.eventsSvg {
  width: 100%;
  height: 100%;
}
.eventsSvgDiv {
  overflow: hidden;
}
.collapseBtn {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
}
.collapseBtnIcon {
  font-size: 1.2em;
}
.eventLineBackground {
  width: 100%;
}
.evenLine {
  fill: white;
}
.oddLine {
  fill: rgba(190, 208, 212, 0.33);
}
.eventTitleText {
  alignment-baseline: middle;
}
#clip rect {
  width: 100%;
  height: 100%;
}
.tick {
  stroke-dasharray: 4;
  color: #a7a7a7;
}
.tickLines {
  color: grey;
}
