#main {
  border: 1px solid black;
}
#container {
  margin: 8px;
}
.hidden {
  opacity: 0;
}
.searchValueDiv {
  width: -webkit-fill-available;
}
.titleDiv {
  display: flex;
  height: 20px;
  background: linear-gradient(
    172deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(76, 76, 128, 0.8468429608171394) 26%,
    rgb(190, 208, 212) 100%
  );
  color: white;
  font-size: 0.8em;
  text-transform: uppercase;
}
.eventDiv {
  display: flex;
}
.eventsSvg {
  width: 100%;
  height: 100%;
}
.eventsSvgDiv {
  overflow: hidden;
}
.collapseBtn {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
}
.collapseBtnIcon {
  font-size: 1.2em;
}
.eventLineBackground {
  width: 100%;
}
.evenLine {
  fill: white;
}
.oddLine {
  fill: rgba(190, 208, 212, 0.33);
}
.eventTitleText {
  alignment-baseline: middle;
}
#clip rect {
  height: 100%;
}
.tick {
  stroke-dasharray: 4;
  color: #a7a7a7;
}
.tickLines {
  color: grey;
}
.tooltip {
  position: absolute;
  width: fit-content;
  min-width: 30px;
  opacity: 0;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8em;
  color: rgba(128, 128, 128, 0.75);
  box-shadow: rgb(128, 128, 128) 2px 2px 11px -4px;
}
#dateTooltip {
  height: 15px;
  padding-top: 0;
}
#scheduleRectTooltip {
  display: grid;
  max-width: 350px;
  grid-template-columns: max-content auto;
  grid-auto-rows: max-content;
}
#scheduleRectTooltip div {
  padding: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  vertical-align: middle;
  flex-wrap: wrap;
}
.detailLabel {
  margin-top: 3px;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
}
